<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col" ng-controller="AdminCtrl">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <h1 class="m-n font-thin h3 text-black">EasyMargining Administration</h1>
                </div>
            </div>
        </div>
        <!-- description -->
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li>
                            <span>Load Eurex product definition for an effective date</span>
                            <button class="btn m-b-xs btn-primary" data-ng-click="loadEurexProductDefinitions()">Start</button>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>Load Eurex products for an effective date (take many time)</span>
                            <button class="btn m-b-xs btn-primary" data-ng-click="loadEurexProducts()">Start</button>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <span>clear all positions for all users</span>
                            <button class="btn m-b-xs btn-primary" data-ng-click="clearAllPositions()">Start</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>